body {
	background-color: black;
	color: white;
	font-family: 'Roboto', sans-serif;
	background-image: url("../img/binding_dark.png");
	font-weight: 100;
}

.title {
	margin: 0 auto;
	margin-top: 15px;
	text-align: center;
	font-size: 40pt;
}

.content {	
	margin-top: 15px;
	text-align: center;
}

.phone-image-div {
	width: 100%;
	height: auto;
	position: absolute;
	text-align: center;
	margin: 0;
	padding: 0;
}

.tagline {
	font-size: 22pt;
	font-weight: 100;
}

.time {
	font-size: 16pt;
	font-weight: 100;
}

.phone-image {
	/*width: 130px;*/
}

.absolute-holder {
	height: 200px;
}

.absolute-holder2 {
	height: 200px;
}

.bold {
	font-weight: 300;
}

header {
	height: 45px;
}

/*Buttony things*/

.f {
	font-size: 32pt;
	margin-left: 10px;
	margin-right: 10px;
}


a {
	color: #4990E2;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
	color: white;
}


/*-----------------------------------------------*/
/*Animations*/

.logo-circle {
    stroke-dasharray: 2000;
    stroke-dashoffset: 2000;
    -webkit-animation:spin 2s linear forwards;
 	-moz-animation:spin 2s linear forwards;   
}

.phone {
    stroke-dasharray: 2000;
    stroke-dashoffset: -1500;
    -webkit-animation:spin 1.5s linear forwards;
    -moz-animation:spin 1.5s linear forwards;
}

@-moz-keyframes spin { 
  to {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes spin { 
  to {
    stroke-dashoffset: 0;
  }
}