.content {
	width: 90%;
	margin: auto;

	@media #{$little} {
		max-width: 768px;
		width: 80%;
	}
}

.g-med {
	width: 100%;
	margin: 0;
	// display: inline-block;

	@media #{$desktop} {
		width: 30%;
		float: left;
		margin-right: 5%;

		&:last-of-type {
			margin-right: 0;
		}
	}
}

.g-sm {
	width: 100%;
	margin: 0;
	// display: inline-block;

	@media #{$little} {
		width: 45%;
		float: left;
		margin-right: 5%;

		&:last-of-type {
			margin-right: 0;
		}	
	}

	@media #{$desktop} {
		width: 20%;
		float: left;
		margin-right: 5%;

		&:last-of-type {
			margin-right: 0;
		}
	}
}

.d-tbl {
	display: table;
	width: 100%;
}

.t-cell {
	display: table-cell;
	width: 33%;
	padding: 5px;
}

.dis-f {
	width: 100%;
  @include display(flex);
  @include flex-flow(row wrap);
  @include justify-content(space-around);
}

.f-item-md {

	width: 100%;

	@media #{$little} {
		@include flex-grow(1);
		
		width: 30%;
		float: left;

		padding-right: 5px;
		&:last-of-type {
			padding-right: 0;
		}
	}
}