.sponsors {
  margin: $pad / 2;
  text-align: center;

  h3  {
    margin: $pad / 2;
  }
}

.main {
  margin-bottom: $pad * 2;
}

.members {
  margin-top: 100px;
}

.border {

  border: 30px solid transparent;
  -webkit-border-image: -webkit-linear-gradient(right, #33b 0%, #33b5e5 100%);
  border-image-slice: 1;
  
  @media screen and (max-width: 400px) {
    border-left: 0;
    border-right: 0;
  }
}

// UNIVERSAL

.logo {
  width: 50px;
  height: 50px;
  margin: $pad;
}

nav {
  width: 100%;
  background-color: $primary;
  padding: $pad / 2;
  position: fixed;
  top: 0;
  z-index: 9999;
  color: white;

  @include sans(200, 14pt);

  a {
    color: white;
    text-decoration: none;
      
    @include transition(border 0.2s);

    border-bottom: {
      color: white;
      style: solid;
      width: 1px;
    }

    &:hover {
      border-bottom-width: 5px;
    }
  }

  .social {
    ul {
      text-align: right;
    }
  }

  li {
    display: inline;
    margin-right: $pad / 4;

    &:last-of-type {
      margin-right: 0;
    }
  }

  .social, .menu {
    width: 50%;
    float: left;
    margin: 0;
  }
}


h1 {
  @include sans(600, $body * 2);

  @media #{$little} {
    @include sans(600, $body * 2.5);
  }

  @media #{$desktop} {
    @include sans(600, $body * 3);
  }
}

h2 {
  @include sans(600, $body * 1.33);
  margin-bottom: $pad / 2;
  margin-top: $pad;

  @media #{$little} {
    @include sans(600, $body * 1.5);
  }

  @media #{$desktop} {
    @include sans(600, $body * 1.75);
  }
}

h3 {
  @include sans (300, $body);
}

p {
  font-size: $body;
  @include sans(200, 16pt);
  line-height: $body + 5px;
}

.flat-list {

  li {
    margin-right: $pad / 2;
    display: inline-block;

    &:last-of-type {
      margin-right: 0;
    }
  }
}

.f {
  @include transition(opacity 0.7s);
  height: 100%;
  width: 100%;
  border-radius: 50px;
  opacity: 0;
}

.desc {
  font-size: $body + 3;
}

.iwrap {
  width: 100%;
  height: 300px;
  display: block;

  img {
    @include transition(opacity 0.5s);
    opacity: 0;
    width: 100%;
    height: 100%;
  }
}

// -----------------------------------

// POSTS 

.post {
  font-family: $serif;
  h1 {
    color: $primary;
    margin-top: $pad;
    margin-bottom: $pad / 2;
  }
  h2 {
    color: $black;
    margin-bottom: $pad / 2;
  }
  h3 {
    color: $grey;
    margin-bottom: $pad / 2;
    text-transform: italic;
  }

  img {
    width: 100%;
    height: auto;
  }
}

.thanks {

  padding: $pad 0 $pad 0;

  clear: both;
  text-align: center;
  color: white;

  background: -webkit-linear-gradient(right, #33b 0%, #33b5e5 100%);
  margin: 0;
}

.share {
  color: white;
  margin-top: $pad;
  text-align: center;

  a {
    color: white;
    text-decoration: none;
  }
}

.more-story {
  @include transition(all 0.3s);

  border-bottom: white solid 5px;
  margin-bottom: $pad;

  &:hover {
    border-bottom: $primary solid 5px;
    cursor: pointer;
    
    p {
      color: $black;
    }

    h3 {
      color: $primary !important;
    }
  }
}

// -----------

// MEMBERS

.member {
  text-align: center;
  width: 100%;
  @include flex-grow(1);

  @media #{$little} {
    width: 50%;
    max-width: 250px;
  }

  @media #{$desktop} {
    width: 25%;
  }

  margin-top: $pad;

  a {

    @include transition(color 0.2s);

    width: 100%;
    height: 100%;

    text-decoration: none;
    color: $black;
    
    &:hover {
      color: $primary;
    }
  }

  h2 {
    @include sans(600, 16pt);
    margin-top: $pad / 3;
  }
}

.img-wrap {
  height: 100px;
  width: 100px;
  border-radius: 50px;
  background: url(A4.svg);
  margin: auto;
}

.content.t {
  height: 100%;
}

.home {
  height: 100vh;
  background-color: $primary;
  position: relative;

  color: white;

  h1 {
    margin-bottom: 15px;
  }

  h3 {
    margin-bottom: $pad / 4;
  }
}

.scroll-down {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 0;

  h3 {
    font-size: 12pt;
    margin: $pad / 2;

  }
}

.button {
  display: inline-block;
  margin: $pad / 3;
  
  background-color: $primary;
  color: white;
  border-radius: 5px;
  padding: $pad / 4 $pad / 2 $pad / 4 $pad / 2;

  @include sans(400, 12pt);
  text-decoration: none;

  &:first-of-type {
    margin-left: 0;
  }
}