// MEDIA 
$mobile : 	"(min-width: 400px)"; // larger than mobile
$little : 	"(min-width: 550px)"; // phablet and small screens
$desktop: "(min-width: 1000px)"; // desktop

// SIZES
$pad : 35px;
$body: 16pt;

// FONTS
$serif: 'Lora', serif;
$sans: 'Montserrat', sans-serif;

@mixin sans($weight, $size) {
	font-family: $sans;
	font-size: $size;
	font-weight: $weight;
}

// COLORS
$black  : #333333;
$grey   : #858585; 
$light  : #33b5e5;
$primary: #3374D0; 
$dark   : #33b;